@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
    color: #ffffff;
    font-size: 20px;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

body {
    background-color: #ffffff;
    text-align: center;
    height: 100vh;
}

header {
    display: flex;
    position: fixed;
    height: 18px;
    background-color: #4a4a4a;
    left: 1%;
    right: 1%;
    top: 2%;
    opacity: .9;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Krona One', sans-serif;
    color: #68cbee;
    user-select: none;
    padding: 5px;
}

main {
    padding: 3vh;
    height: 100vh;
}

svg {
    height: 100%;
}

#svgmap.ampliado {
    height: 300%;
    /*transform: scale(2);
    transition: transform 0.3s ease-in-out;*/
}


.lote_poligono {
    fill: #ffffff;
    stroke: #bababa;
    stroke-width: 0.06;
}

.lote_poligono:hover {
    fill: #c2d0f5;
    transition: 0.6s;
    cursor: pointer;
}

.rua_poligono {
    fill: none;
    stroke: #000000;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: none;
    stroke-opacity: 1;
    stroke-width: 0.15;
    stroke-miterlimit: 10;
}

.lote_numero {
    font-variant: normal;
    font-weight: normal;
    font-size: 0.7px;
    font-family: Arial;
    fill: #6a6a6a;
    fill-opacity: 1;
    fill-rule: nonzero;
    user-select: none;
}

.rua_nome {
    font-variant: normal;
    font-weight: normal;
    font-size: 0.7px;
    font-family: Arial;
    writing-mode: lr-tb;
    fill: #000000;
    fill-opacity: 1;
    fill-rule: nonzero;
    user-select: none;
    stroke-width: 0.04
}

.quadra_letra_circulo {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.quadra_letra_texto {
    font-variant: normal;
    font-weight: normal;
    font-size: 1.5px;
    font-family: Arial;
    writing-mode: lr-tb;
    fill: #000000;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
    stroke-width: 0.05;
    user-select: none
}

.linha_de_chamada {
    fill: none;
    stroke: #000000;
    stroke-width: 0.05;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: none;
    stroke-opacity: 1
}